<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeepLAPIKey</key>
	<string>16271179-b650-4d65-b8ba-d9c7f2c7c42e:fx</string>
	<key>SpoonacularAPIKey</key>
	<string>5115eb3f10184bc0b8e66305ca318844</string>
</dict>
</plist>
